<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>order Confirmation</title>
    <link rel="stylesheet" href="/css/orderConfirmation.css" />
  </head>
  <body>
    <header>
      <h1 style="color:white;">Gamee</h1>
      </header>
    <br/>
    <h1>Thank You for your order</h1>
    <br />
    <h4>Your order number is : {{id}} </h4>
    <p>
      We are getting started on your order right away, and you will receive an order
confirmation email shortly . In the
meantime, explore the latest games at our website.
    </p>
    <div class="a">
    <a
      href="/"
      >Main Page
    </a>
  </div>
  </body>
</html>
