<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>orders Page</title>
    <link rel="stylesheet" href="/css/orderPage.css" />
  </head>
  <body>
    <header>
      <h1 style="color:white;">GAMEE</h1>
      </header>
    <br/>
    <h1>Orders</h1>
    <br />
    <table>
        <tr>
          <th>Order No</th>
        </tr>
        {% for i in orders %}
        <tr>
          <td><a href="/orders/{{i.id}}">{{i.id}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <p>

    </p>
    <div class="a">
    <a
      href="/"
      >Main Page
    </a>
  </div>
  </body>
</html>
